@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
body{
    background:hsl(233, 47%, 7%);
    font-size: 15px;
}
h1{ 
    font-family: 'Inter', sans-serif;
    padding: 30px 50px 10px 30px;
    color: white;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
    align-self: center;
}
.attribution { 
    color: white;
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 11px; 
    text-align: center; 
    top: 90%;
    left: 50%;
    transform: translate(-50%,-90%);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
#wholeform{
    border-radius: 7px;
    display: grid;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    width: 800px;
    height: auto;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color:hsl(244, 38%, 16%);
    grid-template-columns: 1fr 1fr;
}
#imagess{
    background-color:rgb(100, 8, 143);

}
img{
    border-radius: 0 7px 7px 0;
    align-self: center;
    width: 400px;
    grid-column: 2/3;
    grid-row: 1/4;
    z-index: -1;

    opacity: 0.5;
}
#number{
    justify-content: space-around;
    display: flex;
    padding: 30px 50px 10px 30px;
    color: hsla(0, 0%, 100%, 0.6);

}
div > span{
    font-size: 10px;
    display: flex;
    flex-direction: column;
}
span > span{
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding-top: 6px;

}
#text{
    line-height: 23px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.6);
    padding: 0px 50px 10px 30px;
}
.numbertext{

    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
}