@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
:root{
    --formwidth: 500px;
    --backgroundform: hsl(235, 24%, 19%);
    --paddingMUform: 20px;
    --backgroundlightform: hsl(236, 33%, 92%);
}
body{
    background-image: url(./images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(235, 21%, 11%);
    color: white;
}

/*//////////////////////////// whole page edit //////////////////////////// */
#wholepage{
    max-width: 1500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*  */
/*//////////////////////////// header edit /////////////////////////////////*/
#header{
    width: var(--formwidth);
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
h1{
    letter-spacing: 1rem;
}
.header-img{
    cursor: pointer;
    width: 25px;
    height: 25px;
}
/*  */
/*//////////////////////////// upper edit//////////////////////////////////////// */
#bodyupper{
    padding: var(--paddingMUform);  
    background: var(--backgroundform);
    width: calc(var(--formwidth) - 20px);
    padding-right: 0;
    display: flex;
    margin-bottom: 30px;
    border-radius: 3px;
}
.circle{
    margin-right: 1rem;
    cursor: pointer;
    border: 1px solid hsl(234, 11%, 52%);
    border-radius: 50%;
}
.input{
    font-size: 18px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    background: transparent;
    border: none;
    outline: none;
    width:400px;
}
/*//////////////////////////// middle edit//////////////////////////////////////// */
#middlelower{
    border-radius: 3px;
    box-shadow: 1px 2px 18px black;
    background: var(--backgroundform);
    margin-bottom: 40px;
    width: var(--formwidth);
}
#listtodo{
    display: none;
    /* padding: var(--paddingMUform); */
    padding-bottom: 0;
}
.listtodochild{
    border-bottom: 1px solid hsl(234, 11%, 52%);
    padding-bottom: calc(var(--paddingMUform) - 15px);
    padding-top: calc(var(--paddingMUform) - 15px);
    padding: 20px;
    display: flex;
    color: hsl(234, 11%, 52%);
    justify-content: space-between;
}
.lchild{
    display: flex;
}
.check{
    cursor:pointer;
    outline: none;
    pointer-events: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.text{
    color: hsl(234, 39%, 85%);
}
.textdecor{
    text-decoration: line-through;
    color: hsl(234, 11%, 52%);
}
.grandchild{
    word-break: break-all;
    word-wrap:break-word;
    cursor: pointer;
}
.circle, img.grandchild{
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}
img.grandchild{
    display: none;
}
.circleactive{
    background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}
/*//////////////////////////// bottom edit//////////////////////////////////////// */
#bodylower{
    padding-top: var(--paddingMUform);
    margin-bottom: 20px;
    width: var(--formwidth);
    display: flex;
    justify-content: space-around;
}   
.bodylower-item:hover{
    cursor: pointer;
    color: hsl(236, 33%, 92%);
}
.bodylower2{
    display: flex;
    justify-content: space-around;
}
.bodylower2>div{
    padding: 0 5px;
}
#bodylower, #bottom, ::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    color: hsl(234, 11%, 52%);
}
hr{
    position: relative;
    left: -20px;
    width: calc(var(--formwidth) - 2px);
    border:0.1px solid hsl(234, 11%, 52%);
    background: var(--backgroundform);
    color: hsl(234, 11%, 52%);
}
.dragging{
    opacity: .5;
}
.attribution a { color: hsl(228, 45%, 44%); }
.attribution { margin-top: 50px; font-size: 18px; text-align: center; }